{% extends "base.html.twig" %}
{% block title %}Melomania | Edit{% endblock %}

{% block body %}
    <h1>Edit Album</h1>
    
    <div class="container w-75">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}